<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="com.zinrelo.scanarios.Login_Using_Invalid_Credentials1" />
			<class name="com.zinrelo.scanarios.Launching_To_Index_Page_Test2" />
			<class name="com.zinrelo.scanarios.AddingMemberPageTest3" /> -->
			<class name="com.zinrelo.scanarios.EndToEndTest4" />
		</classes>
	</test>
</suite> 
