<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebService">
	<!-- <test thread-count="5" name="WS_GEO"> </test> WS_GEO -->

	<listeners>
		<!-- <listener class-name="Utils.annotationTransform" /> -->
	</listeners>

	<test name="Test">
		<classes>
			<!--<class name="scenarios.LOC.AddressTypeGet" />
			<class name="scenarios.LOC.AddressTypePost" />
			<class name="scenarios.LOC.AddressTypePut" />
			<class name="scenarios.LOC.LocationGet" />-->
			<!-- <class name="scenarios.LOC.LocationGetE2" /> -->
			<!--<class name="scenarios.LOC.LocationIdentifierGet" />
			<class name="scenarios.LOC.LocationIdentifierPost" />
			<class name="scenarios.LOC.LocationIdentifierPut" />
			<class name="scenarios.LOC.LocationIdentifierServiceGet" />
			<class name="scenarios.LOC.LocationPlacePut" />
			<class name="scenarios.LOC.LocationPost" />
			<class name="scenarios.LOC.LocationPut" />
			<class name="scenarios.LOC.LocationToLocationPOST" />
			<class name="scenarios.LOC.LocationToLocationPut" />
			<class name="scenarios.LOC.LocationToOperationPost" />
			<class name="scenarios.LOC.LocToLocGetE1" />
			<class name="scenarios.LOC.LocToLocGetE2" />
			<class name="scenarios.LOC.LocToLocGetE3" />
			<class name="scenarios.LOC.LocToLocGetE4" />-->
			<!--<class name="scenarios.LOC.LocationToLocationPOST" />
			<class name="scenarios.LOC.LocationToLocationPut" />
			<class name="scenarios.LOC.LocationToOperationPost" />
			<class name="scenarios.LOC.LocToOperationPut" />
			<class name="scenarios.LOC.LocToOpnGetE1" />
			<class name="scenarios.LOC.LocToOpnGetE2" />
			<class name="scenarios.LOC.LocToOpnGetE3" />
			<class name="scenarios.LOC.LocToOpnGetE4" />
			<class name="scenarios.LOC.LocTypeGet" />
			<class name="scenarios.LOC.LocTypePut" />-->
			<!-- <class name="scenarios.LOC.LocTypePost" />-->
			<!--<class name="scenarios.LOC.OperationIdentifierGet" />
			<class name="scenarios.LOC.OperationIdentifierPost" />
			<class name="scenarios.LOC.OperationIdentifierPUT" />
			 <class name="scenarios.LOC.OperationPost" />
			 <class name="scenarios.LOC.OperationGet" />-->
			<!--<class name="scenarios.LOC.OperationPut" />
			<class name="scenarios.LOC.OperationTypeGet" />
			<class name="scenarios.LOC.OperationTypePost" />
			<class name="scenarios.LOC.OperationTypePut" />-->
			<!--<class name="scenarios.LOC.OperToOperGet" />-->
			<!--<class name="scenarios.LOC.OperToOperPut" />
			<class name="scenarios.LOC.OperToOperPost" />-->
			<!--<class name="scenarios.LOC.PropertyTypeGet" />
			<class name="scenarios.LOC.PropertyTypePost" />
			<class name="scenarios.LOC.PropertyTypePut" />
			<class name="scenarios.LOC.RelationshipTypeGet" />
			 <class name="scenarios.LOC.RelationshipTypePost" />
			<class name="scenarios.LOC.RelationshipTypePut" />-->
			<!-- <class name="scenarios.LOC.StatusTypeGet" />
			<class name="scenarios.LOC.StatusTypePost" />-->
			<!--<class name="scenarios.LOC.StatusTypePut" /> -->
			
			<class name="scenarios.LOC.AddressTypeGet" />
			<class name="scenarios.LOC.AddressTypePost" />
			<class name="scenarios.LOC.AddressTypePut" />
			
			<class name="scenarios.LOC.OperationTypeGet" />
			<class name="scenarios.LOC.OperationTypePost" />
			<class name="scenarios.LOC.OperationTypePut" />
			
			<class name="scenarios.LOC.PropertyTypeGet" />
			<class name="scenarios.LOC.PropertyTypePost" />
			<class name="scenarios.LOC.PropertyTypePut" />
			
			<class name="scenarios.LOC.RelationshipTypeGet" />
			<class name="scenarios.LOC.RelationshipTypePut" />
			<class name="scenarios.LOC.RelationshipTypePost" />
			
			<class name="scenarios.LOC.StatusTypeGet" />
			<class name="scenarios.LOC.StatusTypePut" />
			<class name="scenarios.LOC.StatusTypePost" />
			
			<class name="scenarios.LOC.OperToOperGet" />
			<class name="scenarios.LOC.OperToOperPut" />
			<class name="scenarios.LOC.OperToOperPost" />
			
			<class name="scenarios.LOC.LocTypeGet" />
			<class name="scenarios.LOC.LocTypePut" />
			<class name="scenarios.LOC.LocTypePost" />
			
			
		</classes>
	</test>
</suite>